<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="journalviewer" sequenceNumber="74">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.persistence.jpa.feature.group" version="2.6.4.v20160829-44060b6"/>
<repository location="http://download.eclipse.org/rt/eclipselink/updates/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.cdatetime.feature.feature.group" version="1.0.0.201702081352"/>
<unit id="org.eclipse.nebula.cwt.feature.feature.group" version="1.0.0.201702081352"/>
<repository location="http://download.eclipse.org/technology/nebula/snapshot"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.feature.group" version="4.6.2.v20161124-1400"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.12.0.v20160420-0247"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.12.0.v20161122-1740"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.12.0.v20160420-0247"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.6/"/>
</location>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86_64</arch>
</environment>
</target>
